<div id="breadcrumbs">
  {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
  <a href="{{ site.baseurl }}/">Home</a>
  {% capture full_path %}{{ site.baseurl }}{% endcapture %}
  
  {% if page.categories and page.categories.size > 0 %}
    {% for category in page.categories %}
      {% capture full_path %}{{ full_path }}/{{ category | downcase }}{% endcapture %}
      / <a href="{{ full_path }}/">{{ category | capitalize }}</a>
    {% endfor %}
  {% endif %}
  
  {% for crumb in crumbs offset: 1 %}
    {% capture full_path %}{{ full_path }}/{{ crumb }}{% endcapture %}
    {% if forloop.last %}
      / {{ page.title }}
    {% else %}
      / <a href="{{ full_path }}/">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a>
    {% endif %}
  {% endfor %}
</div>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": "{{ site.baseurl }}/"
    }
    {% capture full_path %}{{ site.baseurl }}{% endcapture %}
    {% if page.categories and page.categories.size > 0 %}
      {% for category in page.categories %}
      {% capture full_path %}{{ full_path }}/{{ category | downcase }}{% endcapture %}
      ,{
        "@type": "ListItem",
        "position": {{ forloop.index | plus: 1 }},
        "name": "{{ category | capitalize }}",
        "item": "{{ full_path }}/"
      }
      {% endfor %}
    {% endif %}
    {% for crumb in crumbs offset: 1 %}
    {% capture full_path %}{{ full_path }}/{{ crumb }}{% endcapture %}
    ,{
      "@type": "ListItem",
      "position": {{ forloop.index | plus: page.categories.size | plus: 1 }},
      "name": "{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}",
      "item": "{{ full_path }}/"
    }
    {% endfor %}
  ]
}
</script>
